body {
    background: #fdf8f8;
    margin: 0;
    padding: 0;
    font-weight: bold;
}

header {
    background: white;
    display: flex;
    max-height: 175px;
}

.caixa-cabecalho {
    width: 1000px;
    margin: auto auto;
    align-items: center;
    justify-content: center;
    padding: 0px 30px 30px 30px;
    position: relative;
   
   
}

.titulo {
    text-align: left;
    top: 115px;
    margin: 0 0 0 7px;
    font-size: 1.5em;
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    
    
}

.logo {
    position: relative;
    width: 200px;
    margin-left: 24px;
}

nav {
    position: absolute;
    right: 80;
    top: 70px;
    font-family: 'Montserrat', sans-serif;
}

nav li {
    display: inline;
    padding-right: 20px;
    font-size: 1.3em;
}
nav a {
    text-decoration: none;
    color: black;
}

ul a:hover {
    color: red;
    padding: 4px;
    transition: 0.3s all;
    
}

.conta {
    position: absolute;
    right: 160;
    top: 65;
    font-family: 'Ubuntu', sans-serif;
}

.nomeUsuario {
    font-size: 1em;
}

.minhaConta {
    font-size: 1em;
    text-align: center;
    position: absolute;
    right: 15;
    top: 18;
}

.minhaConta-link {
    text-decoration: none;
    color: red;
}

.minhaConta-link:hover {
    color: red;
    transition: all 0.3s;
    text-decoration: underline;
}

.login-img {
    max-width: 50px;
    position: absolute;
    top: 13;
    right: 128;
}

/* Página principal*/

#produtos {
    max-width: 1020px;
    margin: 0 auto;
    padding: 0 2%;
    display: flex;
}

.nome-produto {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0.5em;
}

.link-carrinho {
    text-decoration: none;
    color: green;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.link-carrinho:hover {
    text-decoration: underline;
}

.link-remove {
    text-decoration: none;
    color: red;
    font-size: 0.9em;
}

.link-remove:hover {
    text-decoration: underline;
}

.genero {
    display: flex;
    max-width: 180px;
    position: absolute;
    left: 490px;
    top: 279px;
}

#genero-link1, #genero-link2 {
    margin-left: 20px;
    font-family: 'Ubuntu', sans-serif;
}

#genero-link1:hover, #genero-link2:hover {
    cursor: pointer;
    color: red;
    text-decoration: underline;
}

#carrinho {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 2%;
    display: block;
}

.titulo-carrinho {
    text-align: center;
    font-family:'Montserrat', sans-serif;
    margin-top: 4.5em;
    margin-bottom: 2em;
}

.titulo-produtos {
    margin-left: 15em;
    margin-top: 4em;
    margin-bottom: 2em;
    font-family:'Montserrat', sans-serif;
}

.produto-single {
    width: 33.3%;
    max-height: 369px;
    padding: 0 20px;
}

.produto-single img {
   height: 300px;
   width: 300px;
    border: solid 2px black;
    border-radius: 10px;
}

.produto-single img:hover {
    opacity: 60%;
    transition: all 0.3s;
 }

.produto-single p {
    text-align: center;
}

.produto-single a {
   margin-left: 5em;
}

.link-remove {
    margin-left: 20px;
}

.estado-carrinho {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
}

#pagamento {
    text-align: center;
    padding: 10px;
    position: absolute;
    left: 45.8%;
    margin-top: 35px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.pagamento:hover {
    color: green;
    transition: all 0.3s;
    cursor: pointer;
}

footer {
    background: white;
    display: flex;
    max-height: 175px;
    margin-top: 16em;
}

/* Classe para páginas com menos conteúdo, para que o footer fique no final da tela*/

.footer {
    background: white;
    position: absolute;
    width: 100%;
    bottom: 0;
    max-height: 175px;
    margin-top: 16em;
}

.caixa-footer {
    width: 1000px;
    margin: auto auto;
    padding: 0px 30px 30px 30px;
    position: relative;
 
}

.copyright {
   text-align: center;
  padding-top: 2em;
  font-family: 'Montserrat', sans-serif;
   
}

/* Minha conta - pag */

.lista-conta {
    list-style: none;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 1.54em;
    margin: 0;
    text-align: center;
}

.lista-conta:first-child {
    margin-top: 2.3em;
}

.lista-conta li {
    margin-bottom: 4em;
}

.lista-conta li:hover {
    box-shadow: 2px 2px 2px grey;
    cursor: pointer;
}

/* Pag - Contatos */

.contatos {
    font-family: 'Montserrat', sans-serif;
    margin: 6em 0 0 0;
    padding: 0;
}

form {
    margin-left: 5em;
}

label {
    display: block;
}

label, legend {
    margin-top: 14px;
}

input {
    margin-bottom: 15px;
    margin-top: 5px;
    padding: 10px 200px 10px 10px
}

.assunto {
    margin-top: 10px;
}

textarea {
    margin-bottom: 20px;
    margin-top: 5px;
}

fieldset {
    border-style: none;
    margin: 0;
    padding: 0;
}

select {
    padding: 12px 50px;
    text-align: center;
    margin-top: 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.tabela {
    position: absolute;
    right: 200;
    top: 200;
}

.tabela h4 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 0.5em;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
    font-size: 1.5em;
}


thead {
	background: #555555;
	color: white;
	font-weight: bold;
}

td, th {
	border: 1px solid #000000;
	padding: 26px 80px;
}

.checkbox {
    margin-top: 20px;
}

.enviar {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    padding: 30px 100px;
    margin-top: 25px;
}

.enviar:hover {
    color: red;
    transition: all 0.3s;
    cursor: pointer;
}

